@import '../../assets/styles/variables.scss';


.sectionMainCard
{
    display: flex;
    flex-direction: column;
    gap: 7vw;
    .card__container
    {
        display: flex;
        flex-direction: column;
        gap: 25px;

        @media screen and (min-width: 1000px) 
        {

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 10px;
            padding: 10px;

            margin-bottom: 20px;
        
        }
          
    
    }
    @media screen and (min-width: 1000px) 
    {
         .divMain
            {

                display: flex;
                justify-content: space-between;
                align-items: center;

                    .h2Main
                    {
                        font-size: 40px;
                    }
                    
                    .spanMain {
                        height: 32px;
                    
                    margin: 0;
                    padding: 0vw 3vw;


                    &:hover
                    {
                        background-color: black;
                        color: white;
                        border: none;
                        cursor: pointer;
                    }
                    }
                }
        
    }
    .h2Main
    {
        font-family: $font2;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

    
    }

    .spanMain
    {
        font-family: $font2;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3vw 12vw;
        border: 2px solid purple;
        max-width: 100%; /* Ajusta el valor según tus necesidades */
        margin: auto; /* Centra horizontalmente el elemento */
       
        
    }


}
