@import "../../assets/styles/variables.scss";

@mixin mobile {
    @media (min-width: 600px) and (max-width: 900px) {
      @content;
    }
  }
@mixin desktop {
    @media (min-width: 900px) {
      @content;
    }
}
.MBanner{
    width: 100%;
    padding-top: 5rem;
    @include mobile{
        height: 27rem;
        margin-bottom: 30rem;
        padding-top: 4rem;
    }
    @include desktop{
        height: 35rem;
        margin: 0;
        margin-bottom: 20rem;
        padding-top: 1rem;
    }
    &__mobile {
        display: flex;
        align-items: center;
        padding: 2rem 2rem 2rem 2rem;
        width: 100%;
        height: 40vh;
        @include mobile{
            display: none;
            padding: 0;
        }
        @include desktop{
            display: none;
        }
    }
    &__desktop {
        display: none;
        @include mobile{
            display: flex;
            margin: 6rem;
            height: 60vh;
            padding: 2,7rem;
        }
        @include desktop{
            display: flex;
            margin: 9rem; 
        }
    }
    &__text{
        display: flex;
        flex-direction: column;
        padding: 0 3rem 3rem 3rem;
        align-items: center;
        gap: 1rem;
        @include mobile{
            padding: 1.5rem 2.5rem;
            background-color: $white;
            position: relative;
            width: 25rem;
            left: 32rem;
            bottom: 17rem;
        }
        @include desktop{
            padding: 5rem 0rem 3rem 5rem;
            background-color: $white;
            position: relative;
            width: 43rem;
            left: 48rem;
            bottom: 30rem;
            margin: 0;
        }
        &__title{
            text-align: center;
            font-family: $font2;
            font-weight: 400;
            font-size: 2rem;
            @include mobile{
                text-align: start;
                font-size: 1rem;
            }
            @include desktop{
                text-align: start;
                font-size: 2.9rem;
            }
        }
        &__span{
            font-family: $font2;
            font-weight: 300;
            font-size: 1rem;
            text-align: center;
            line-height: 1.6rem;
            @include mobile{
                text-align: start;
                line-height: 1.4rem;
                font-size: 0.9rem;
            }
            @include desktop{
                text-align: start;
                line-height: 1.6rem;
                font-size: 1.4rem;
            }
        }
    }
}