@import "../../assets/styles/variables.scss";

@mixin mobile {
    @media (min-width: 500px) and (max-width: 900px) {
      @content;
    }
  }
@mixin desktop {
    @media (min-width: 900px) {
      @content;
    }
}
.footer{
    background-color: $black;
    color: $white;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: $font2;
    margin-top: 5rem;

    @include mobile{
        height: 10rem;
        width: 100%;
       flex-direction: column;
       flex-wrap: wrap;
       justify-content: space-between;
       padding: 4rem;
    }
    @include desktop{
        height: 13rem;
        width: 100%;
       flex-direction: column;
       flex-wrap: wrap;
       justify-content: space-between;
       padding: 3rem 8rem;
    }
    &__logo{
        padding: 3rem 0rem 1rem 0rem;
        font-size: 2rem;
        font-family: $font1;
        @include mobile{
            padding: .7rem;
            align-self: flex-start;
        }
        @include desktop{
            padding: .7rem;
            align-self: flex-start;
        }
        h2{
            color: $white;
            font-family: $font1;
            @include mobile{
                text-align: start;
            }
            @include desktop{
                text-align: start;
            }
        }
    }
    &__menu{
        padding: .4rem;
        @include mobile{
            padding: 0;
            align-self: flex-start;
        }
        @include desktop{
            padding: 0;
            align-self: flex-start;
        }
        .lista{
            &__ol{
                display: flex;
                flex-direction: column;
                align-items: center;
                @include mobile{
                    flex-direction: row;
                }
                @include desktop{
                    flex-direction: row;
                }
            }
            &__ol-li{
                list-style-type: none;
                padding: .7rem 1rem;
                cursor: pointer;
                position: relative;
            }
            &__ol-li:hover::after {
                content: '';
                position: absolute;
                width: 60%;
                height: 2px;
                bottom: -1px;
                left: 20%;
                background-color: $white;
            }
        }
    }
    &__media{
        padding: .3rem;
        @include mobile{
            padding: 0;
            align-self: flex-end;
        }
        @include desktop{
            padding: 0;
            align-self: flex-end;
        }
        .lista{
            &__ol{
                display: flex;
            }
            &__ol-li{
                list-style-type: none;
                padding: .7rem;
                cursor: pointer;
                position: relative;
                align-items: center;
            }
            &__ol-li:hover::after {
                content: '';
                position: absolute;
                width: 60%;
                height: 2px;
                bottom: -1px;
                left: 20%;
                background-color: $white;
            }
        }
    }
    &__rights{
        padding: 0 3rem 3rem 3rem;
        font-size: 12px;
        opacity: 80%;
        @include mobile{
            padding: .7rem;
            align-self: flex-end;
            
        }
        @include desktop{
            font-size: 14px;
            padding: .7rem;
            align-self: flex-end;
        }

    }

}